In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stat

In [2]:
data = pd.read_csv('Sales_data_zone_wise.csv')
data

         Month  Zone - A  Zone - B  Zone - C  Zone - D
0    Month - 1   1483525   1748451   1523308   2267260
1    Month - 2   1238428   1707421   2212113   1994341
2    Month - 3   1860771   2091194   1282374   1241600
3    Month - 4   1871571   1759617   2290580   2252681
4    Month - 5   1244922   1606010   1818334   1326062
5    Month - 6   1534390   1573128   1751825   2292044
6    Month - 7   1820196   1992031   1786826   1688055
7    Month - 8   1625696   1665534   2161754   2363315
8    Month - 9   1652644   1873402   1755290   1422059
9   Month - 10   1852450   1913059   1754314   1608387
10  Month - 11   2004480   1740365   1317869   1970069
11  Month - 12   1537539   1875658   1237722   1460165
12  Month - 13   1254939   1588473   1348629   1733383
13  Month - 14   1821799   1844081   1617376   1872259
14  Month - 15   1128185   1804613   1767047   1234311
15  Month - 16   1491534   1542053   1882159   1590913
16  Month - 17   1182110   1552388   2234469   2180416
17  Month - 18   1770324   1699213   1249821   2364132
18  Month - 19   1181635   1959268   2009168   1821882
19  Month - 20   1305972   1559670   2107949   2151008
20  Month - 21   1570152   2013615   1540016   2265814
21  Month - 22   1481619   1527574   2255729   2295079
22  Month - 23   1887694   1992155   1348387   1459683
23  Month - 24   1880820   1752873   2098463   2052591
24  Month - 25   1256333   1622671   1521792   1695122
25  Month - 26   1422853   1715465   1853636   1520406
26  Month - 27   1384426   1983163   1611169   1289160
27  Month - 28   1616640   1547991   2128022   2178267
28  Month - 29   1310654   1660092   1947119   1854412

# 1. Find the mean sales generated by each zone.

In [6]:
print('Mean sales of Zone-A is',np.mean(data['Zone - A']))
print('Mean sales of Zone-B is',np.mean(data['Zone - B']))
print('Mean sales of Zone-C is',np.mean(data['Zone - C']))
print('Mean sales of Zone-D is',np.mean(data['Zone - D']))

Mean sales of Zone-A is 1540493.1379310344
Mean sales of Zone-B is 1755559.5862068965
Mean sales of Zone-C is 1772871.0344827587
Mean sales of Zone-D is 1842926.7586206896

The mean sales of Zone-A is minimum and that of Zone-D is maximum.

# 2. Find the total sales generated by all the zones for each month.

In [22]:
sum=data.sum(axis=1)

In [12]:
i=0
while i<29:
    print('Total sales for Month-',i+1,'is',sum[i])
    i+=1

Total sales for Month- 1 is 7022544
Total sales for Month- 2 is 7152303
Total sales for Month- 3 is 6475939
Total sales for Month- 4 is 8174449
Total sales for Month- 5 is 5995328
Total sales for Month- 6 is 7151387
Total sales for Month- 7 is 7287108
Total sales for Month- 8 is 7816299
Total sales for Month- 9 is 6703395
Total sales for Month- 10 is 7128210
Total sales for Month- 11 is 7032783
Total sales for Month- 12 is 6111084
Total sales for Month- 13 is 5925424
Total sales for Month- 14 is 7155515
Total sales for Month- 15 is 5934156
Total sales for Month- 16 is 6506659
Total sales for Month- 17 is 7149383
Total sales for Month- 18 is 7083490
Total sales for Month- 19 is 6971953
Total sales for Month- 20 is 7124599
Total sales for Month- 21 is 7389597
Total sales for Month- 22 is 7560001
Total sales for Month- 23 is 6687919
Total sales for Month- 24 is 7784747
Total sales for Month- 25 is 6095918
Total sales for Month- 26 is 6512360
Total sales for Month- 27 is 6267918
Total sales for Month- 28 is 7470920
Total sales for Month- 29 is 6772277

In [20]:
sum[sum==np.max(sum)]

3    8174449
dtype: int64

In [21]:
sum[sum==np.min(sum)]

12    5925424
dtype: int64

Month-4 has the highest total sales whereas Month-13 has the least total sales.

# 3. Check whether all the zones generate the same amount of sales.

Hypothesis:
 
H_0: All the zones generate the same amount of sales.
    
H_1: The amount of sales generated by all the zones are not same.

In [23]:
F,p = stat.f_oneway(data['Zone - A'],data['Zone - B'],data['Zone - C'],data['Zone - D'])
print('F-statistic is ',F)
print('p-value is ',p)

F-statistic is  5.672056106843581
p-value is  0.0011827601694503335

Since the p-value is less than 0.05, we can reject the null hypothesis and accept the alternative hypothesis. That is, the amount of sales generated by all the zones are not same.